body {
    font-family: "Roboto", sans-serif;
    background-color: #efefef;
    color: black;
    font-size: 14px;
}

.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 4px 0;
}

.nav > li {
    margin-left: 15px;
    margin-right: 15px;
}

.nav > li > a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: #ffffff;
    /* padding-top: 5px; */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0px 12px 0;
}

.logo {
    color: #6dc05d;
    font-size: 36px;
    font-weight: 700;
    display:flex;
    align-items: center;
    margin-right: 10px;
    letter-spacing: 4px;
}

.logo-image{
    margin-right: 20px;
    display:block;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.svg);
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #6dc05d;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 35px;
}

.header-bottom{
    padding: 20px 0 27px 0;
}

.header-bottom .nav {
    font-size: 16px;
    margin: 0;
}

.header-bottom .nav >li{
    margin-left: 20px;
    margin-right: 20px;
}

hr{
    border: none;
    background-color: #efefef;
    height: 1px;
}

.banner{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 159px;
    padding-bottom: 204px;
    color: #ffffff;
}
.banner p{
    margin-bottom: 57px;
    max-width: 315px;
    line-height: 1.5;
}

.title {
    font-size: 48px;
    margin-bottom: 39px;
    font-weight: 700;
}

.btn{
    border-radius: 20px;
    border: 2px solid #ffffff;
    background-color: transparent;
    padding: 10px 15px;
    color: #ffffff;
    padding: 9px 47px;
    text-decoration: none;
}





